@containerWidth: 990px;
@regularContainerWidth: 800px;

.g-1-1,
.g-1-2,
.g-1-3,
.g-2-3,
.g-1-4,
.g-3-4 {
  display: block;
  float: left;

  width: 100%;
}

@media @medium {
 .g-1-1 {
    width: 100%;
  }
  .g-1-2 {
    width: 50%;
  }
  .g-1-3 {
    width: 33.33%;
  }
  .g-2-3 {
    width: 66.66%
  }
  .g-1-4 {
    width: 25%;
  }
  .g-3-4 {
    width: 75%;
  }

}






.large-wrap,
.small-wrap,
.wrap-600,
.wrap-700,
.wrap-800,
.wrap-900,
.wrap-1000,
.wrap-1200 {
  width: 100%;
  padding: 0 24px;

  &:after {
    content:'';
    display:block;
    clear: both;
  }
}

@media @1000 {
  .wrap-800,
  .small-wrap {
    width: @regularContainerWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media @medium {
  .wrap-600 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media @medium {
  .wrap-700 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media @1000 {
  .wrap-1000 {
    width: 1005px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media @1000 {
  .wrap-900,
  .large-wrap {
    width: @containerWidth;
    margin-left: auto;
    margin-right: auto;
  }
}

@media @large {
  .wrap-1200 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
