.article_header {
  position: relative;
  overflow: hidden;

  .article_header_backround {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    height: 212px;

    @media @medium {
      height: 640px;

      &.dark {
        position: relative;

        &:after {
          content: '';
          width: 100%;
          height: 100%;

          background-color: #292C33;
          opacity: .7;

          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &.dark {
    .article_header_title a,
    h1,h2,h3,p,blockquote {
      color: #000;
    }
  }

  .article_header_title_wrap {
    @media @small {
      padding: 28px 3% 25px;
    }

    @media @medium {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%,-50%);
      width: 100%;
      text-align: center;
    }

    @media @1000 {
      width: @containerWidth - 150;
    }
  }


  .article_header_meta_categories {
    color: @mainColorDarker;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    @media @medium {
      font-size: 28px;
      text-align: center;
      font-weight: 700;
    }
  }


  .article_header_meta {
    @media @medium {
      text-align: center;
      margin-bottom: 8px;
    }
  }


  .article_header_title {
    text-weight: 800;
    font-size: 24px;
    color: @textColor;
    line-height: 36px;
    margin: 0;
    text-transform: capitalize;


    a {
      color: @textColor;
    }

    @media @medium {

      a {
        color: #fff;
      }

      font-family: @cooperLight;
      font-weight: 200;
      color: #FFFFFF;
      text-shadow: 0px 1px 1px rgba(48,56,63,0.10);
      text-align: center;

      font-size: 64px;
      line-height: 93px;
    }

    @media @1000 {
      font-size: 64px;
      line-height: 93px;
    }
  }
}

@media @small {
  .article_header-homepage {
    .keep_reading_button {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
    .article_header_meta_categories,
    .article_header_title {
      font-weight: 700
    }

    .article_header_title {
      margin-top: 5px;
      margin-bottom: 7px;
      line-height: 35px;
    }
  }
}


.article_customers {
  position: relative;
  overflow: hidden;
  @media @small {

  }

  q {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-family: CooperHewitt-Light;
    font-size: 64px;
    color: #30393F;
    line-height: 90px;
    position: relative;

    @media @small {
      font-weight: 700;
      font-size: 24px;
      color: #30393F;
      line-height: 36px;
    }

    a {
      color: #30393F;
      text-align: left;
    }

    &:before {
      content: open-quote;
      position: absolute;
      left: -17px;
    }
    &:after {
      content: close-quote;
    }
  }

  @media @medium {
    height: 700px;
  }


  .article_header_title {
    text-align: left;
  }

  .article_header_title_wrap {
    .half {
      width: 60%;
      display: block;
      text-align: left;
    }
  }

  .article_header_meta_person {
    font-size: 16px;
    color: #30393F;
    line-height: 24px;
    margin-bottom: 28px;
    position: relative;
    font-weight: 700;
    margin-top: -10px;
    @media @small {
      margin-top: -2px;
      width: 100%;
      display: block;
      font-weight: 400;
    }

    .article_header_meta_person_position {
      opacity: 0.75;
      font-size: 12px;
      color: #657684;
      line-height: 16px;
      font-weight: 400;

      @media @small {
        width: 100%;
        display: block;
        margin-top: 5px;
      }
    }
  }


  @media @small {
    padding-bottom: 200px;
    background-position: top center;

    .article_header_title_wrap {
      padding-left: 5%;

      .half {
        width: 70%;
        display: block;
        text-align: left;
      }
    }

    .read_more {
      font-weight: 800;
      font-size: 16px;

      &:hover {
        color: @mainColorDarker;
      }
    }
  }

  .article_header_quote_box {
    background: #F3F5F7;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 20;

    p {
      font-size: 18px;
      color: #30393F;
      line-height: 28px;
    }

    @media @small {
      padding: 19px 4% 0;
    }

    @media @medium {
      opacity: 0.9;
      background: #30393F;
      padding: 28px 0 21px;

      p {
        font-size: 18px;
        color: #FFFFFF;
        line-height: 28px;
      }
    }
  }
}



.article_customers_item {
  overflow: hidden;

  @media @medium {
    height: 850px;
    padding-top: 240px;
  }

  @media @small {
    margin-bottom: 30px;
    padding-bottom: 0;

    .article_header_title_wrap {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #292C33;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  q {
    z-index: 10;
  }
  q a,a,h1,h2,h3,p,blockquote,q {
    color: #fff;
  }

  .article_header_title_wrap {
     z-index: 10;
     text-align: center;
    .half {
      text-align: center;
    }
  }


  .article_header_meta_person {
    color: #90ADC5;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    z-index: 10;

    .article_header_meta_person_position {
      opacity: 1;
      color: #90ADC5;
      font-size: 18px;
    }

    @media @small {
      opacity: 0.6;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 24px;
      margin-top: 2px;


      .article_header_meta_person_position {
        opacity: 1;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        display: initial;
      }
    }
  }

  .article_header_quote_box {
    h1 {
      color: @mainColor;
    }
    p {
      /* people found feedbac: */
      opacity: 0.6;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 24px;
    }

    @media @small {
      background-color: #30393F;
      position: relative;
      margin-top: 100px;
      padding-bottom: 20px;

      .col {
        width: 100%;
        margin-bottom: 10px;
      }

      h1 {
        color: #FF904D;
        font-size: 24px;
        line-height: 36px;
        font-weight: 800;
        padding-bottom: 8px;
      }
    }
  }


}
