.page--feature {
  overflow: hidden;

  p {
    line-height: 28px;
  }

  h2 {
    margin-bottom: 11px;
  }

  @media @1000 {
    .main-content-wrap {
      width: 1034px;
      padding: 0;
    }
  }


  @media @small {

    .row .col,
    .sqs-block {
     width: 100%;
    }

    video {
      width: 100% !important;
      padding: 0 24px;
    }

    .svg-icon {
      opacity: 0;
      display: none;
    }

    .spacer-block {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      font-size: 0;
      display: none;
      visibility: hidden;
    }

    .code-block {
      padding: 0;
    }

    .main-content-wrap .row .row:nth-child(4n-2){
      background-color: #fff;
      display: flex;
      flex-wrap: wrap-reverse;
    }
  }

  @media @medium {
    video {
      margin-left: 20px;
    }
  }

}


@media @medium {
  .svg-icon {
    position: absolute;
    top: 59px;
    left: -15px;
  }

  .sqs-hide-overlay-widgets .svg-icon,
  .sqs-edit-mode .svg-icon {
    top: 44px;
    left: -30px;
  }
}
